@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin S {
  font-size: 1rem;
  @include tablet {
    font-size: 1.1rem;
  }
  @include desktop {
    font-size: 1.25vw;
  }
}

@mixin L {
  font-size: 1.25rem;
  @include tablet {
    font-size: 1.5rem;
  }
  @include desktop {
    font-size: 2vw;
  }
}

@mixin XL {
  font-size: 1.5rem;
  @include tablet {
    font-size: 2rem;
  }
  @include desktop {
    font-size: 3vw;
  }
}
